DISCORD_TOKEN=
DEV_GUILD_ID=

POSTGRES_USER=crousto
POSTGRES_PASSWORD=changeme
POSTGRES_DB=crousto

# Remplace les valeurs directement — dotenv ne supporte pas ${VAR}
DATABASE_URL="postgresql://crousto:changeme@localhost:5432/crousto"
